<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesoc.web39.dao.MemberMapper">

<insert id="joinMember" parameterType="member">
INSERT INTO lms_tempMember_table
VALUES
	(#{member_id}, #{member_pw}, #{member_name})
</insert>

<select id="getMember" parameterType="string" resultType="member">
SELECT *
FROM lms_tempMember_table
WHere member_id = #{member_id}

</select>
</mapper>
